* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff007a;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#neata-tinere {
  display: grid;
}

#neata-tinere > div {
  align-self: center;
}

body,
#neata-tinere,
html {
  height: 100%;
}
